.parent { /*übergreifendes div für alle 3 seiten */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: -50px;
	font-family: 'Montserrat', sans-serif;

}

.box { /*Registrierungsfenster Hintergrund(Box) */
	width: 100%;
    align-items: center;
    text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	position: relative;
    padding: 20px;
	margin-bottom: 2vh;
    padding-top: 50px;
	font-size: 20px;
}

.table1 {
    width: 100%;
    align-items: center;
    opacity: 1 !important;
}
tr {
    margin: 10px;
}
.td {
    margin: 10px;
}
.ls {
	width: 40%;
}
.rs {
	width: 40%;
}
.tr {
	width: auto;
}
input {
	width: 35vh;
	height: 4vh;
}
button {
	width: 25vh;
	height: 4vh;
	line-height: 2vh;
	text-align: center;
	cursor: pointer;
	background-color:rgb(197, 97, 97);
	text-align: center;
	font-size: 2vh;
	font-family: 'Montserrat', sans-serif;
}
button:hover{
	letter-spacing: 2px;
	transform: scale(1.1, 1);
}
button::after{
	content: '';
	position: absolute;
	background-color: lightblue;
}