.loginbox {
	width: 300px;
	height: 230px;
	text-align: center;
	background-color: red;
	border-radius: 10px;
	position: absolute;
	opacity: 0.5;
}
.login {
	position: absolute;
}
.parent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 200px;
}
.regisbox1 {
	width: 350px;
	height: 310px;
	text-align: center;
	background-color: red;
	border-radius: 10px;
	position: absolute;
	opacity: 0.5;
}
.regis1 {
	position: absolute;
}

.regisbox2 {
	width: 350px;
	height: 260px;
	text-align: center;
	background-color: red;
	border-radius: 10px;
	position: absolute;
	opacity: 0.5;
}
.regis2 {
	position: absolute;
}
p{
	display: inline;
}