body{
    background: url(../Assets/icons/BackgroundImgPC.svg) no-repeat 0 50%;
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 0px;                                                 
    padding-right: 0px;
    padding-bottom: 0px;

}



/* Der Kasten um die einzelnen Buttons*/
.navContainer{
    position: fixed;
    
    width: 100%;
    height: 50px;
    background-color:rgb(129, 40, 39);
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Der Kreis fuer das logo*/
.circle{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
   background-color: rgb(129, 40, 39);
   display: flex;
   justify-content: center;
   align-items: center;

}
.circleLogo{
 
    object-fit: cover;
}


/*Listen Elemente*/
.navList{
    
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 100%;
    height: 50px;
}
.navElement{
    float: left;
    display: block;
    height: 100%;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

}

#left{
    padding-top: 10px;
    float: left;
    text-align: center;
    width: 9%;
    box-sizing: border-box;
    background-color: rgb(129, 40, 39);
    border: 3px solid whitesmoke;
    border-top: 0px;
    border-left: 0px;
    border-bottom:  0px; 
    font-size: 30px;
  

}
#right{
    padding-top: 10px;
    float: right;
    text-align: center;
    width: 9%;
    background-color: rgb(129, 40, 39);
    box-sizing: border-box;
    border: 3px solid whitesmoke;
    border-top: 0px;
    border-right: 0px;
    border-bottom:  0px; ;
    font-size: 30px;
  
}
#navText{
    padding-top: 10px;
    float: left;
    text-align: center;
    width: 30.8%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    font-weight: bold;
}

#navCircle{
    float: left;
    width: 20%;
}




/* Dropdown Menue*/

.dropdownMenue{
    display: block;
    margin-top: 100px;
    width: 200px;
    height: 100px;
    background-color: whitesmoke;
}


/*Artikel*/
.koerper{
     margin-top: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: auto;
     padding-left: 0px;
     padding-top: 0px;                                                 
     padding-right: 0px;
     padding-bottom: 0px;
     position: absolute;
 }
.artikel{
    width: 400px;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.artikelBild{
    display: inline-block;
    width: 200;
    height: auto;
}




/* Resposiver Teil */

@media only screen and  (max-width: 900px) {
    body{
        background-image: url(../Assets/Background/DSC08788.JPG);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-left: 0px;
        padding-top: 0px;                                                 
        padding-right: 0px;
        padding-bottom: 0px;
    
    }


}

@media only screen and  (max-width: 500px) {
    body{
        background-image: url(../Assets/Background/DSC08788.JPG);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-left: 0px;
        padding-top: 0px;                                                 
        padding-right: 0px;
        padding-bottom: 0px;
    
    }

    #navText{
        padding-top: 15px;
        float: left;
        text-align: center;
        width: 30.8%;
        font-size: 20px;
    }

    #right{
        padding-top: 15px;
        float: right;
        text-align: center;
        width: 9%;
        background-color: rgb(129, 40, 39);
        box-sizing: border-box;
        border: 3px solid whitesmoke;
        border-top: 0px;
        border-right: 0px;
        border-bottom:  0px; ;
        font-size: 20px;
      
    }

    #left{
        padding-top: 15px;
        float: left;
        text-align: center;
        width: 9%;
        box-sizing: border-box;
        background-color: rgb(129, 40, 39);
        border: 3px solid whitesmoke;
        border-top: 0px;
        border-left: 0px;
        border-bottom:  0px; 
        font-size: 20px;
      
    
    }


    /*Artikel*/
    .koerper{
        margin-bottom: 25px;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: auto;
         padding-left: 0px;
         padding-top: 0px;                                                 
         padding-right: 0px;
         padding-bottom: 0px;
     }
    .artikel{
        width: 200px;
        height: 300px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .artikelBild{
        display: inline-block;
        width: 150;
        height: auto;
    }

}